In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.tail(10)

,order_id,quantity,item_name,choice_description,item_price
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
max(data["order_id"])

1834

In [5]:
len(data.groupby("item_name").sum())

50

In [6]:
print(sum(pd.isna(data["order_id"])))
print(sum(pd.isna(data["quantity"])))
print(sum(pd.isna(data["item_name"])))
print(sum(pd.isna(data["choice_description"])))
print(sum(pd.isna(data["item_price"])))

0
0
0
1246
0

In [7]:
data = data.fillna(value = "")

In [8]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [9]:
price = data["item_price"]

In [10]:
type(price)

pandas.core.series.Series

In [11]:
data1 = np.random.rand(10, 3)

In [12]:
data1

array([[0.74565438, 0.0786859 , 0.8710969 ],
       [0.10929167, 0.71718089, 0.73412849],
       [0.62589065, 0.53061825, 0.93783227],
       [0.36160332, 0.03260885, 0.66932257],
       [0.9852928 , 0.77172827, 0.94598667],
       [0.6080056 , 0.34938679, 0.53850306],
       [0.94109755, 0.67317137, 0.13061409],
       [0.45494583, 0.50231213, 0.51230286],
       [0.98110555, 0.31094273, 0.47736155],
       [0.76172325, 0.98717858, 0.39824325]])

In [13]:
kry = pd.DataFrame(data = data1, columns=["index","column1","column2"])
kry.set_index('index')

           column1   column2
index
0.745654  0.078686  0.871097
0.109292  0.717181  0.734128
0.625891  0.530618  0.937832
0.361603  0.032609  0.669323
0.985293  0.771728  0.945987
0.608006  0.349387  0.538503
0.941098  0.673171  0.130614
0.454946  0.502312  0.512303
0.981106  0.310943  0.477362
0.761723  0.987179  0.398243

In [28]:
kry.to_csv("kry",index=False, header = None)

In [29]:
pd.read_csv("kry", header = None)

          0         1         2
0  0.745654  0.078686  0.871097
1  0.109292  0.717181  0.734128
2  0.625891  0.530618  0.937832
3  0.361603  0.032609  0.669323
4  0.985293  0.771728  0.945987
5  0.608006  0.349387  0.538503
6  0.941098  0.673171  0.130614
7  0.454946  0.502312  0.512303
8  0.981106  0.310943  0.477362
9  0.761723  0.987179  0.398243